---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to tidal.">
  <main class="flex min-h-screen flex-col place-content-center place-items-center gap-8">
    <section class="flex w-full max-w-9xl flex-col place-content-center p-4 text-center md:h-[400px]">
      <div class="space-y-4">
        <h1 class="text-5xl font-bold tracking-wide text-white md:text-7xl">Welcome to tidal.</h1>
        <p class="text-xl tracking-wide text-white md:text-2xl">tidal is a documentation template built with Astro + Tailwind.</p>
      </div>
    </section>
  </main>
</Layout>

<style></style>
